page-city-brisbane {


  .scroll-content{
          background-color: #E8E8E8;
        }

        .backButton{
          margin-top: -1vh;
        }

        .appLogo{
          margin-top: -8.5vh;
        }

        .BrisbaneBanner{
          margin-top:-4vh;
          position: relative;
          text-align: center;
          border-radius: 6px;
          box-shadow: 0px 2px 10px #aeaeae;
          margin-bottom: 1vh;
          width:94%;
          margin-left: 2.5vw;

        }



          ion-card {
            position: relative;
            text-align: center;
            border-radius: 6px;
            box-shadow: 0px 2px 10px #aeaeae;
            margin-bottom: 3vh;

          }

          .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;

          }

          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
          }




}
